## Project files
bin/
bin_obj/
.cache/
*.sln
*.vcxproj*
*csproj*
*.lib
*.dll
*.exe

## Project tools
tools/runtestbed.py
tools/gensln.py
tools/buildsln.py
tools/utilities.py

# configuration files
*.config
*.ini
*.json
*.xml

## Pycache
tools/__pycache__/

## Editor directories and files
.idea/
.vscode/
.vs/

# other
*.log
*.swp
