## Project files
bin/
bin_obj/
.cache/
*.sln
*.vcxproj*
*csproj
*csproj.user
*.lib
*.dll
*.exe

# python bindings
tools/build
tools/other.egg-info/

## Project tools
tool_dev/

## C# stuff
packages/

# contains local path, no online sharing
tools/runtestbed.py

# configuration files
*.config
*.ini
*.json
*.xml

## Pycache
*__pycache__*

## Editor directories and files
.idea/
.vscode/
.vs/

# other
*.log
*.swp
