[[project]]
name = "yockcraft"
path = "yockcraft"
config = "yockcraft/yockcraft.other"

[[project]]
name = "sandbox"
path = "tests/sandbox"
config = "tests/sandbox/sandbox.other"

[[project]]
name = "cell_automaton"
path = "tests/cell_automaton"
config = "cell_automaton/cell_automaton.other"

[[testing]]
## exclude these because of the issue where we can't shutdown DotOther and bring it back up in the same process lifetime
##  (https://github.com/yockey88/OtherEngine/issues/17)
ignore = [
  "ScriptEngineTests.*" ,
  "ScriptSceneIntegrationTests.*"
]