[[project]]
name = "yockcraft"
path = "yockcraft"
config = "yockcraft/yockcraft.other"

[[project]]
name = "sandbox"
path = "tests/sandbox"
config = "tests/sandbox/sandbox.other"

[[project]]
name = "cell_automaton"
path = "cell_automaton/cell_automaton"
config = "cell_automaton/cell_automaton.other"

## exclude these because of the issue where we can't shutdown DotOther and bring it back up in the same process lifetime
##  (https://github.com/yockey88/OtherEngine/issues/17)
## IGNORE the above, these are broken (except for death tests, those work)
[[testing]]
ignore = [
  "ScriptEngineTests.*" ,
  "ScriptSceneIntegrationTests.*",
  "ReflectionTests.*",
  "SceneTreeTests.*",
  "*death*"
]